html {
    font-size: 70%;
    box-sizing: border-box;
    /* Sets the box-sizing property to border-box, which means that the width and height of elements will include padding and borders, making it easier to manage the layout of the page.*/
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* Inherits the box-sizing property from the html element, ensuring that all elements on the
    page will use the border-box model for sizing and layout.*/
}

.calculator {
    border: 1.2px solid darkslategray;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centers the calculator on the page by positioning it absolutely and using the transform property to adjust its position based on its own dimensions.*/
    width: 500px;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 7px 7px 0 0;
    /* Styles the calculator screen with a black background, white text, and rounded corners on the top. It also sets the font size and padding for the screen.*/
}

button {
    height: 70px;
    border-radius: 3px;
    border: 1px solid darkslategray;
    background-color: transparent;
    font-size: 3.2rem;
    color: black;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.6));
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5), 
    inset 0 1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.5),
    0 1px 0 0 rgba(255, 255, 255, 0.5);
}

button:hover {
    background-color: #e1e1e1;
}

.operator {
    color: black;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.5));
    background-color: lightgray;
    /* Styles the operator buttons with a light gray background and a subtle gradient effect to differentiate them from the number buttons.*/
}

.all-clear {
    background-color: red;
    border-color: darkslategray;
    color: #ffffff;
}

.equal-sign {
    background-color: blue;
    border-color: darkslategray;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
    /* Styles the equal sign button with a blue background and makes it span multiple rows in the
    grid layout to make it larger than the other buttons.*/
}

.equal-sign:hover {
    background-color: darkblue;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Defines a grid layout with 4 equal-width columns for the calculator buttons.*/
    grid-gap: 20px;
    padding: 20px;
    /* Adds spacing between the buttons and padding around the edges of the button container.*/
}

